@use '../abstract' as *; 

.no-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--clr-background-paper);
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    z-index: var(--header-z-index);

    &__inner {
        height: var(--header-height);
        @include flex-center(); 
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {}

    &__gnb {
        display: flex;
    }
    
    &__gnb-item {}
    
    &__gnb-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem fluid(16, 32);
        height: var(--header-height);
        font-weight: 500;
        font-size: var(--body-md-fs);
    }
    
    &__gnb-label {}
    
    &__submenu {}
    
    &__lnb {
        display: none;
    }
    
    &__lnb-item {}
    
    &__lnb-link {}
    
    &__lnb-label {}
}