@use '../abstract' as *; 

.no-sub-nav {
    $root: &; 

    height: var(--sub-nav-height);
    border-bottom: 1px solid var(--clr-gray-300);

    &__container {
        position: relative;
        overflow: hidden;
    }

    &__carousel {
        width: auto;
    }

    &__list {
        width: fit-content;
    }
    
    &__item {
        width: auto;

        &:hover {
            #{$root}__link {
                &::before {
                    width: 100%;
                }
            }
        }

        &.--active {
            #{$root}__link {
                background: var(--clr-primary-50);
                color: var(--clr-primary-main);
                font-weight: 600;

                &::before {
                    width: 100%;
                }
            }
        }
    }

    &__link {
        display: inline-flex;
        height: var(--sub-nav-height);
        align-items: center;
        justify-content: center;
        padding: fluid(8, 12) fluid(16, 24);
        position: relative;

        &::before {
            content: ''; 
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            height: 0.2rem;
            width: 0%;
            transition: .3s ease-in-out;
            background: var(--clr-primary-main);
        }
    }

    &__button {
        background: var(--clr-base-white);
        height: calc(100% - 0.1rem);
        margin: 0;
        top: 0;
        transition: .15s ease-in-out;

        &.swiper-button-disabled {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
        
        i {
            color: var(--clr-primary-main);
        }

        &:hover{
            background: var(--clr-primary-50);
        }

        &::after{
            content: none;
        }

        &--prev{
            border-right: 1px solid var(--clr-gray-200);
            left: 0;
            box-shadow: 0 2px 4px rgba(0,0,0,0.12);
        }
        &--next{
            border-left: 1px solid var(--clr-gray-200);
            right: 0;
            box-shadow: 0 -2px 4px rgba(0,0,0,0.12);
        }
    }
}