@use './mixins' as *; 

:root {
    --gutter: 2.4rem;

    --header-height: 8rem;
    --header-z-index: 1000;

    --sub-nav-height: 7rem;  

    --drawer-z-index: 1001; 

    --tran-15: 0.15s ease-in-out; 
    --tran-3: .3s ease-in-out; 

    @include mq(lg){
        --header-height: 6.4rem; 
        --sub-nav-height: 5.6rem;
    }
}
