%base {
    color: var(--clr-text-primary);
    font-family: var(--family-base);
    font-size: var(--body-md-fs);
    font-weight: var(--body-md-fw);
    line-height: var(--body-md-lh);
    word-break: keep-all;
}

%button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.8rem 1.6rem;
    border-radius: var(--radius-round);
    transition: .15s ease-in-out;
}

%form-control {
}

%table {
}


%info-detail {
    padding-right: 0.8rem;
    margin-right: 0.8rem;
    position: relative;

    &:last-child {
        padding-right: 0;
        margin-right: 0;

        &::before {
            content: none;
        }
    }

    &::before{ 
        content: ''; 
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.1rem;
        height: 1.4rem;
        background: var(--clr-gray-800);
    }
}