$FONT_DIR: "/resource/fonts" !default;
$IMAGE_DIR: "/resource/images" !default;

$breakpoints: (
    3xl: 1920,
    2xl: 1640,
    xl: 1320,
    lg: 1024,
    md: 768,
    sm: 544,
    xs: 450,
    xxs: 375,
);

$spacings: (
    xxs: var(--spacing-xxs),
    xs: var(--spacing-xs),
    sm: var(--spacing-sm),
    md: var(--spacing-md),
    lg: var(--spacing-lg),
    xl: var(--spacing-xl),
    2xl: var(--spacing-2xl),
    3xl: var(--spacing-3xl),
    4xl: var(--spacing-4xl),
    5xl: var(--spacing-5xl),
);

$directions: (
    l: left,
    r: right,
    t: top,
    b: bottom,
);

$font-weight-suffix: (
    100: "Thin",
    200: "ExtraLight",
    300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold",
    700: "Bold",
    800: "ExtraBold",
    900: "Black"
);
