@use '../abstract' as *; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    font-size: 62.5%;
}

body {
    @extend %base;
    background: var(--clr-background-paper);
}

::selection {
    background: var(--clr-primary-main);
    color: var(--clr-base-white);
}

// ::-webkit-scrollbar {
//     background-color: var(--clr-base-yellow);
//     width: 0.8rem;
// }
// ::-webkit-scrollbar-thumb {
//     background-color: var(--clr-base-white);
// }

a,
button,
select,
input,
textarea,
option {
    @extend %base; 
    font-size: var(--body-sm-fs);
}

ul,
ol,
li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

em,
address {
    font-style: normal;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
label {
    cursor: pointer;
}

textarea {
    resize: none;
}
input,
textarea,
select,
option {
    border: none;
    outline: none;
}
