@use '../abstract' as *; 

.no-captcha {
   display: flex;
   flex-direction: column;
    @include mq(md){
        width: 100%;
    }
    
    .no-form-control {
        @include mq(md){
            width: 100%;
        }

        label {
            @include mq(md){
                width: 100%;
            }
        }
        
        &__input {
            height: 4.8rem;
            width:20rem;

            @include mq(md){
                width: 100%;
            }
        }
    }

    &__label {
        display: block;
        margin-bottom: 0.8rem;
        font-size: fluid(14, 16);
    }

    &__container {
         display: flex;
        align-items: center;
        gap: 0.8rem;

        @include mq(md){
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
        }

    }
    

    &__screen {
        display: flex;
        align-items: center;
        border: 1px solid var(--clr-gray-300);
        border-radius: 0.6rem;
        overflow: hidden;
        height: 4.8rem;
    }

    &__image {
        @include flex-center(); 
        height: 100%;
        border-right: 1px solid var(--clr-gray-300);

    }

    &__control {
        display: flex;
        flex-direction: column;

        button {
            @include flex-center(); 
            width: 2.4rem;
            height: 2.4rem;
            border-bottom: 1px solid var(--clr-gray-300);
            background: var(--clr-base-white);

            &:hover {
                background: var(--clr-gray-50);;
            }

            &:last-child {
                border-bottom: 0;
            }

            i {
                font-size: 1.1rem;
            }
        }
    }
}